<div class="container" id="weather-info">
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg">Enter Zipcode: </label>
          <input class="form-control input-lg" id="inputlg-zip" type="text">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="inputlg">Enter City Name: </label>
          <input class="form-control input-lg" id="inputlg-city" type="text">
        </div>
      </div>
    </div>
  </form>

  <div id="found-locations" class="mt-5">
  </div>

  <div id="weather-cards" class="mt-5">
  </div>
</div>

<div class="toast-container position-absolute top-0 end-0 p-3"  data-bs-autohide="true">
  <div class="toast toast-error" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="10000" data-bs-autohide="true">
    <div class="toast-body" id="weather-error-toaster-body">
    </div>
  </div>
</div>
