<div class="container" id="weather-info">
  <form>
    <div class="form-group">
      <label for="inputlg">Enter a City Name or Zipcode</label>
      <input class="form-control input-lg" id="inputlg" type="text">
    </div>
  </form>

  <div id="found-locations" class="mt-5">
  </div>

  <div id="weather-cards" class="mt-5">
  </div>
</div>

<div class="toast-container position-absolute top-0 end-0 p-3"  data-bs-autohide="true">
  <div class="toast toast-error" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="10000" data-bs-autohide="true">
    <div class="toast-body" id="weather-error-toaster-body">
    </div>
  </div>
</div>
